@import url(vendor/normalize.css);
@import url(vendor/fonts/fonts.css);

@import url(blocks/page/page.css);

@import url(blocks/link/link.css);

@import url(blocks/header/header.css);
@import url(blocks/header/__logo/header__logo.css);
@import url(blocks/header/__link/header__link.css);

@import url(blocks/content/content.css);

@import url(blocks/menu/__list/menu__list.css);
@import url(blocks/menu/__link/menu__link.css);

@import url(blocks/social/social.css);
@import url(blocks/social/__icon-link/social__icon-link.css);
@import url(blocks/social/__icon/social__icon.css);

@import url(blocks/podcast/podcast.css);
@import url(blocks/podcast/__art/podcast__art.css);
@import url(blocks/podcast/__art-rays/podcast__art-rays.css);
@import url(blocks/podcast/__art-line/podcast__art-line.css);
@import url(blocks/podcast/__image/podcast__image.css);
@import url(blocks/podcast/__container/podcast__container.css);
@import url(blocks/podcast/__title/podcast__title.css);
@import url(blocks/podcast/__title/__title_select/podcast__title_select.css);
@import url(blocks/podcast/__subtitle/podcast__subtitle.css);

@import url(blocks/button/button.css);

@import url(blocks/episodes/episodes.css);
@import url(blocks/episodes/__container-title/episodes__container-title.css);
@import url(blocks/episodes/__title/episodes__title.css);
@import url(blocks/episodes/__button/episodes__button.css);

@import url(blocks/episod/episod.css);
@import url(blocks/episod/__image/episod__image.css);
@import url(blocks/episod/__content/episod__content.css);
@import url(blocks/episod/__button-info/episod__button-info.css);
@import url(blocks/episod/__subtitle/episod__subtitle.css);
@import url(blocks/episod/__subtitle-select/episod__subtitle-select.css);
@import url(blocks/episod/__title/episod__title.css);
@import url(blocks/episod/__paragraph/episod__paragraph.css);
@import url(blocks/episod/__button/episod__button.css);
@import url(blocks/episod/__button-link/episod__button-link.css);

@import url(blocks/paulaner/paulaner.css);
@import url(blocks/paulaner/__container/paulaner__container.css);
@import url(blocks/paulaner/__circle/paulaner__circle.css);
@import url(blocks/paulaner/__img/paulaner__img.css);
@import url(blocks/paulaner/__subtitle/paulaner__subtitle.css);
@import url(blocks/paulaner/__title/paulaner__title.css);
@import url(blocks/paulaner/__paragraph/paulaner__paragraph.css);
@import url(blocks/paulaner/__image/paulaner__image.css);

@import url(blocks/subscription/__content/subscription__content.css);
@import url(blocks/subscription/__text-box/subscription__text-box.css);
@import url(blocks/subscription/__subtitle/subscription__subtitle.css);
@import url(blocks/subscription/__title/subscription__title.css);
@import url(blocks/subscription/__form/subscription__form.css);
@import url(blocks/subscription/__input/subscription__input.css);
@import url(blocks/subscription/__button/subscription__button.css);

@import url(blocks/cards/cards.css);
@import url(blocks/card/card.css);
@import url(blocks/card/__rating/card__rating.css);
@import url(blocks/card/__title/card__title.css);
@import url(blocks/card/__subtitle/card__subtitle.css);

@import url(blocks/footer/footer.css);
@import url(blocks/footer/__logo/footer__logo.css);
@import url(blocks/footer/__link/footer__link.css);
@import url(blocks/footer/__menu/footer__menu.css);
@import url(blocks/footer/__list/footer__list.css);
@import url(blocks/footer/__social/footer__social.css);